body{
  background-color: azure !important;
  font-size: 2rem !important;
  
}
.container {
  background-color: azure;
  font-size: 2rem;
}
@import "bootstrap-sprockets";
 @import "bootstrap";

.navbar {
  font-size: 2rem;
  margin: 10px;
  padding: 10px;
}

.navbar-nav > li{
  padding-left:30px;
  padding-right:30px;
}

 #logo {
  float: left;
  font-size: 1.7em;
  color: #08088A;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}
 .center {
  text-align: center;
}

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #777;
}

.product-list {
  height:50px !important;
  width: 50px !important;
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

