* {
    color: olivedrab;
    text-shadow: 2px 2px #FFFFFF;
    font-family: 'Roboto', sans-serif 16px;
}
body {
    
    font-family: 'Open Sans', sans-serif;
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-image: url("marijuana-bud.jpg");
    

    @media screen and (max-width: 100%) {
      width: 100% !important;
      margin-top: 30px;
    }
  }
    .weed {  
      height: 100vh;
      width: 100%;
      align-items: center;
      justify-content: center;
      background-size: cover;
  }
  
  .weed::before {
      content: "";
      position: absolute;
      top: 0px;
      right: 0px;
      bottom: 0px;
      left: 0px;
      background-color: rgba(0,0,0,0.25);
  }