<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
        <%= image_tag src="funkadelic_jevon.jpg" %>
    </div>
    <div class="carousel-item">
      <%= image_tag src="undertaker_jevon.jpg" %>
    </div>
    <div class="carousel-item">
      <%= image_tag src="onestop_logo.png" %>
    </div>
  </div>
</div>